<div class="container">
  <h1>提案統計</h1>
  <p>

  </p>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#gov-response" aria-controls="gov-response" role="tab" data-toggle="tab">提案回應查詢</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="gov-response">
        <app-gov-response></app-gov-response>
      </div>
    </div>
  </div>
</div>