<h4>主/協辦單位查詢：<input type="text" [(ngModel)]="orgQuery"></h4>
<p>請輸入全名，例如：國家發展委員會（Ｏ），國發會（Ｘ）</p>
<table class="rwd-table">
    <tr>
        <th>提案名稱</th>
        <th width="160px">提案日期</th>
        <th width="160px">附議開始日期</th>
        <th width="100px">附議數</th>
        <th width="160px">附議截止日期</th>
        <th width="150px">當前主辦單位</th>
    </tr>
    <tr *ngFor="let endorse of endorses|orgSearch:orgQuery">
        <td data-th='提案名稱'><a href="http://join.gov.tw/idea/detail/{{endorse.id}}" target="_blank">{{endorse.title}}</a></td>
        <td data-th='提案日期'>{{endorse.publishDate|date:"yyyy-MM-dd"}}</td>
        <td data-th='附議開始日期'>{{endorse.approvedTime|date:"yyyy-MM-dd"}}</td>
        <td data-th='附議數'>{{endorse.endorseCount}}</td>
        <td data-th='附議截止日期'>
            {{endorse.endorseDueDate|date:"yyyy-MM-dd"}} ({{(endorse.endorseDueDate - now)/(60*1000*60*24)| number:'.0-0'}})
        </td>
        <td data-th='當前主辦單位'>{{endorse.approvalOrganization.master.organizationName}}</td>
    </tr>
</table>