<div class="container">
  <h1>附議留言分析</h1>
  <p>
    留言需要被分析 囧
  </p>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#select" aria-controls="select" role="tab" data-toggle="tab">1.資料選擇</a>
      </li>
      <li role="presentation">
        <a href="#clean" aria-controls="clean" role="tab" data-toggle="tab">2.基本統計</a>
      </li>
      <li role="presentation">
        <a href="#segment" aria-controls="segment" role="tab" data-toggle="tab">3.斷詞處理</a>
      </li>
      <li role="presentation">
        <a href="#cloud" aria-controls="cloud" role="tab" data-toggle="tab">4.文字雲分析</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="select">
        <app-select-file (getFileContent)="getRawFileContent($event)"></app-select-file>
      </div>
      <div role="tabpanel" class="tab-pane" id="clean">
        <app-pre-process [rawFile]="rawFileContent"></app-pre-process>
      </div>
      <div role="tabpanel" class="tab-pane" id="segment">segment</div>
      <div role="tabpanel" class="tab-pane" id="cloud">cloud</div>
    </div>
  </div>
</div>