<h4>請選擇「附議名單」檔案：</h4>
<!--<input type="file" (change)="onChange($event)"/>-->

<h5>已通過附議案件 (附議通過日期 + 案件名稱)</h5>
<select name="endorse" id="endorse" (change)="onChange($event.target,'completed')">
    <option  *ngFor="let endorse of completedEndorses" value="{{endorse.id}}">
        {{endorse.secondSignedTime|date:"yyyy-MM-dd"}} {{endorse.title}}
    </option>
</select>

<h5>附議中案件 (附議人數 + 案件名稱)</h5>
<select name="endorse" id="endorse" (change)="onChange($event.target,'endorsing')">
    <option  *ngFor="let endorse of endorsingEndorses" value="{{endorse.id}}">
        {{endorse.endorseCount}} {{endorse.title}}
    </option>
</select>
<hr>
<h4>檔案預覽:</h4>
<div *ngFor="let line of preview">
    {{line}}
</div>